# Frontend (Next)
frontend/node_modules/
frontend/.pnp
frontend.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage/
frontend/.next/
frontend/out/
frontend/build/
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# API Rust
api/target/
api/.env
api/.env.*
!api/.env.example

# Root / misc
.DS_Store
.env
*.pem
**/npm-debug.log*
**/yarn-error.log*
